<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- MIME type configuration -->
        <staticContent>
            <!-- Correct MIME type for .js -->
            <mimeMap fileExtension="-.js" mimeType="application/javascript" />
            <!-- Correct MIME type for .css -->
            <mimeMap fileExtension="-.css" mimeType="text/css" />
            <!-- Correct MIME type for .webp -->
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>

        <!-- Rewrite rules for SPA routing -->
        <rewrite>
            <rules>
                <rule name="React SPA Routes" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
        </rewrite>
        <!-- ENV Variables -->
        <environmentVariables>
            <add name="VITE_GMAP_KEY" value="AIzaSyD7XC0se2i__i-6ULWSeVn1uMqIS5QGnRg" />
            <add name="VITE_EMAILJS_PUBLIC_KEY" value="OBDUxczNT0_w_uBeY" />
            <add name="VITE_EMAILJS_SERVICE_ID" value="service_dffolmu" />
            <add name="VITE_EMAILJS_TEMPLATE_ID" value="template_pvdctcj" />
            <add name="VITE_EMAILJS_TEMPLATE_ID_CAREER" value="template_a7578gt" />

            <add name="VITE_CLOUDINARY_API_KEY" value="592544372768882" />
            <add name="VITE_CLOUDINARY_API_secret" value="tjt_Suk2gGl_B2SMBf4GOdGgxIg" />
            <add name="VITE_CLOUDINARY_CLOUD_NAME" value="saurabhbackend" />
        </environmentVariables>
    </system.webServer>
</configuration>
