<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- MIME type configuration -->
        <staticContent>
            <!-- Correct MIME type for .js -->
            <mimeMap fileExtension="-.js" mimeType="application/javascript" />
            <!-- Correct MIME type for .css -->
            <mimeMap fileExtension="-.css" mimeType="text/css" />
            <!-- Correct MIME type for .webp -->
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>

        <!-- Rewrite rules for SPA routing -->
        <rewrite>
            <rules>
                <rule name="React SPA Routes" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
