@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: var(--main-bg-color);
    /* color: var(--main-text-color); */
}



@font-face {
font-family: "poppinsBlack";
src: url(/src/assets/fonts/Poppins-Black.ttf)format('truetype');
}